body {
     background-image: url("pics/background.jpg");
	 background-size:100% 100%;
     background-repeat: no-repeat;
}

h1 {
    text-align: center;
	color:white;
	
}

.btn {
    background-image: url("pics/button.jpg");
    color: black;
   width: 278px;
    height: 50px;
    font-size: 16px;
	border:none;
    cursor: pointer;
}

.buttons {
    position: relative;
    display: inline-block;
}

.drop {
    display: none;
    position: absolute;
	background-color:black;
	text-align:center;
	z-index:999;
	
}

.drop a {
    color: black;
    width: 263px;
    height: 50px;
    text-decoration: none;
    display: block;
	
	
}
.drop a:hover {background-color:white;}

.buttons:hover .drop {
    display: block;
	
}
a:link {
    color: #15FF00;
	text-decoration: none;
}
a:visited {
    color:#15FF00;
	text-decoration: none;
}
a:hover {
    color: #15FF00;
	text-decoration: none;
}

	

