body {
     background-image: url("pics/recycling2.jpg");
	 background-size:100% 100%;
     background-repeat: no-repeat;
}

h1 {
    text-align: center;
	color:white;
	
}

a{
	display: flex;
	width: 238px;
	line-height: 150px;
	display: inline-block;
	text-align: center;
	background-image: url("pics/button.jpg");
	font-size: 30px;
    color: white;
	text-decoration: none;
  
}


